<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <p>Messages: {{ messages | json }}</p>
        <child-component></child-component>
        <p>父组件：<input type="text" v-model="msg2"></p>
        <button @click="notify2">$broadcast</button>
    </div>

    <template id="child-component">
        <div>
            <input v-model="msg" />
            <button v-on:click="notify">Dispatch Event</button>
            <ul>
                <li v-for="item in messages2">父组件录入的信息：{{item}}</li>
            </ul>
        </div>
    </template>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        // 注册子组件
        Vue.component('child-component', {
            template: '#child-component',
            data: function () {
                return {
                    msg: '',
                    messages2:[]
                }
            },
            methods: {
                notify: function () {
                    if (this.msg.trim()) {
                        this.$dispatch('child-msg', this.msg)
                        this.msg = ''
                    }
                }
            },
            events:{
                "parent-msg2":function(msg2){
                    this.messages2.push(msg2);
                }
            }
        })

        // 初始化父组件
        new Vue({
            el: '#app',
            data: {
                messages: [],
                msg2:""
            },
            events: {
                'child-msg': function (msg) {
                    this.messages.push(msg);
                }
            },
            methods:{
                notify2:function(){
                    this.$broadcast('parent-msg2',this.msg2);
                }
            }
        })
    </script>
</body>

</html>